@import "neapolitan/base";

$desktop: media-from(769px);
$tablet: media-between(481px, 768px);
$mobile: media-until(480px);

$base-color: #333333;
$highlight-color: #FFADC6;

body {
    font-family: 'Lato', sans-serif;
}

article {
    @include center(70%, $media: $desktop);
    @include center(80%, $media: $tablet);
    @include center(95%, $media: $mobile);
}

section {
    @include grid($gutter:0em, $media: $desktop);
    margin-bottom: 1rem;
}

h1 {
    font-weight: bold;
    font-size: 3.5rem;

    @include breakpoint($desktop) {
        font-size: 5rem;
    }

    color: $base-color;

}

a {
    text-decoration: none;
    color: $highlight-color;
}

h1 > a {
    color: $base-color;
}

article > a {
    font-size: 5rem;
    color: $base-color;
    display: block;
}

article > a:hover {
    color: $highlight-color;
}

p, div {
    font-size: 1.4rem;

    @include breakpoint($desktop) {
        font-size: 1.8rem;
    }
    color: $base-color;
    @include width(6/10);
}

p + p {
    margin-top: 1rem;
}

img {
    width: 100%;
    margin: 1em;
    display: block;
    @include center(50%, $media: $tablet);
    @include center(60%, $media: $mobile);

    @include breakpoint($desktop) {
        margin: 0.7em;
    }

    border: $base-color solid 2px;
}

.fa {
    margin-left: 1rem;
}

h1 .fa {
    margin-left: 0rem;
}
