@import "neapolitan/base";

$desktop: media-from(769px);
$tablet: media-between(481px, 768px);
$mobile: media-until(480px);

$base-color: #333333;
$highlight-color: #FFADC6;

body {
    font-family: 'Lato', sans-serif;
}

article {
    @include center(70%, $media: $desktop);
    @include center(80%, $media: $tablet);
    @include center(95%, $media: $mobile);
}

section {
    @include grid($gutter:0em, $media: $desktop);
}


h1 {
    font-weight: bold;
    font-size: 5rem;
    color: $base-color;

}

a {
    text-decoration: none;
    color: $highlight-color;
}

article > a {
    font-size: 5rem;
    color: $base-color;
    display: block;
}

article > a:hover {
    color: $highlight-color;
}

p, div {
    font-size: 1.4rem;

    @include breakpoint($desktop) {
        font-size: 1.8rem;
    }
    color: $base-color;
    @include width(3/4);
}

img {
    width: 100%;
    padding: 1em;
    display: block;
    @include center(50%, $media: $tablet);
    @include center(60%, $media: $mobile);

    @include breakpoint($desktop) {
        padding: 0.7em;
    }
}

